In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('student_grades.csv')

In [3]:
df.head()

      Student  Grade
0  John Smith     80
1  Jane Smith     75
2    John Doe     65
3    Jane Doe     90

In [1]:
x=c(1,2,3)

In [2]:
x

[1] 1 2 3